  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{ font-family: 'Rubik Gemstones', cursive;

}


.circle {
  background-color: black;
  border-radius: 50px;
  height:15px;
  width:15px;
  margin:0 15px;
}


 .container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:linear-gradient(to left, #5EDFFF, #FF0000);
  );
}
.em{
color: #FF0000;

}
.Title{
padding-bottom: 10%;
font-size: 5rem;
}
.inputs input[type="text"]
{
    height: 4rem;
    width: 20rem;
    background: #212121;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 1px;
    margin-right:4px ;
}

.inputs input[type="submit"]
{
    height: 3rem;
    width: 6rem;
    background: black;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
}

.desc {
  font-size: 1.25rem;
  text-transform: capitalize;
}
.wrapper
{
    margin: 0 9rem;
    background-color: transparent;
    height: 30vh;
    margin: 50px auto;
    border-radius: 1px;
}

.wrapper h2
{
    padding: 5px 0;
    text-align: center;
    background: transparent;
    color: black;

}
.wrapper p
{
    margin:20px 50px;
    margin-right: 20px;
    text-align: left;
    color: #000272;
    font-size:1.5rem;
}
.wrapper h2 span
{
    font-size: 2rem;
    color: #FF0000;
}
.wrapper p span
{
    color: black;
    font-size: 2rem;
}

.weather {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 1.5rem;
}

#location {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}
